@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #FBC50B;
  --color-secondary: #007D3A;
}

.green-fill-hover {
  position: relative;
  overflow: hidden;
}

.green-fill-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #15803d; 
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 0;
}

.green-fill-hover:hover::before {
  transform: translateY(0%);
}

.green-fill-content {
  position: relative;
  z-index: 10;
}

