@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #FBC50B;
  --color-secondary: #007D3A;
}
